{
  "extends": "@antfu",
  "rules": {
    "@stylistic/ts/comma-dangle": [
      "error",
      "never"
    ],
    "vue/html-self-closing": "off",
    "vue/singleline-html-element-content-newline": "off",
    "antfu/top-level-function": "off"
  }
}